/* src/css/FullScreenImage.css */
.fullscreen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3efe8;
    color: #652324;
  }
  
  .fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  
  .close-button {
    color: #652324;
    background-color: white; /* 背景色 */
    border: 2px solid #652324;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .close-button:hover {
    background-color: #652324;
  }
  
  .close-button:hover {
    color: white;
    background-color: #652324; /* 背景色 */
  }
  
  .close-button:active {
    transform: scale(0.95); /* 少し縮む */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* 内側に影 */
  }

  .label-container{
    width: 200px;
    height: 300px;
    position: fixed;
    bottom: 150px;
    left: 300px;
    display: inline-block;
    margin: 20px;
  }

  .label-bubble {
    position: absolute;
    bottom: 150px;
    right: 100%;
    margin-right: -40px;
    width: 300px;             /* 横幅を指定（例: 400px） */
    max-width: none;          /* max-width を解除して幅を固定にする */
    background: #e8d7c3;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    line-height: 1.4;
  }

  .label-bubble::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #e8d7c3;
    border-right: 0;
    margin-top: -10px;
  }

  .Alfred_normal_image{
    width: 300px;
  }
  